  <!DOCTYPE html>
  <html lang="en">
    <style>
      .container{
        margin: 0 auto;


      }
      #form {
      width:100%;
  padding: 10px;
  width: 100%;
margin:15vh auto;
text-align: center;
}
    </style>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <!-- material css  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  
  <body>
  <!-- Your Code Goes Here -->
   <div class='container'>
   
    <div class="row">
        <form class="col s6 l6 " id="form" style="color: rgb(255, 255, 255); background: rgb(27, 27, 27) none repeat scroll 0% 0%;">
            <h5 class="center title">Login Form</h5>
        <div id="form-inputs">
    
           ​
        <div class="row">
        <div class="input-field col  l12">
          <input id="6191fcbd-2780-e640-f667-38091fbdc059" type="text" class="validate center" required="">
          <label for="6191fcbd-2780-e640-f667-38091fbdc059">Enter Your Username</label>
        </div>
      </div><div class="row">
        <div class="input-field col  l12">
          <input id="df5e24a4-d7d8-1364-6cc1-a22eddea9457" type="password" class="validate center" required="">
          <label for="df5e24a4-d7d8-1364-6cc1-a22eddea9457">Enter Your Password</label>
        </div>
      </div><div class="row">
        <div class="input-field col  l12">
          <input id="67c5ba28-f508-a3e8-36fa-51342be4e0e3" type="email" class="validate center" required="">
          <label for="67c5ba28-f508-a3e8-36fa-51342be4e0e3">Enter Your Email</label>
        </div>
      </div><p>
    <label>
      <input id="indeterminate-checkbox" type="checkbox">
      <span>Remember Me</span>
    </label>
    </p><div>
  
  <button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:crimson;color:#fff">
    Login
    <i class="material-icons right">login</i>
  </button>
  
  </div></div>
        </form>
      </div>

   </div>
  
  
  <!-- material -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.AutoInit();
    </script>
  </body>
  </html>

